.navbar-nav>.nav-item {
    margin-left: 15px;
}

.wrap {
    font-weight: 700;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
}

#first-section {
    padding-top: 9%;
}

#second-section, #fourth-section {
    padding-top: 4%;
    background-color: #e9ebee;
}

#third-section {
    background-image: url("./img/banner.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-history {
    font-size: 40px;
    display: inline-block;
}

#third-section h1 {
    padding: 5% 0 0 0;
}

.history div p {
    font-size: 20px;
}

.learn-more div p {
    font-size: 25px;
}

.card {
    /* min-height: 600px; */
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
}

#fourth-section>.container>p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;
}

.card-text {
    min-height: 75px;
}

footer {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid cadetblue;
}