.courses {
    background-color: #e9ebee;
}

.history {
    height: 900px;
    display: flex;
    align-content: center;
    background-image: url("./img/banner.jpg");
}

.fa-history {
    font-size: 40px;
    display: inline-block;
    /* background-color: blue; */
}

.history div h1 {
    display: inline-block;
}

.learn-more {
    background-color: #e9ebee;
}

.history div p {
    font-size: 20px;
}

.learn-more div p {
    font-size: 25px;
}

.card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
}

#fourth>.container>p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;
}

.bg-light {
    background-color: #e9ebee;
}